body {
	background-color:blanchedalmond;
}

.container {
	text-align: center;
	background-color: burlywood;
	margin: 50px auto;
	width: 500px;
	border-radius: 50px;
	padding: 20px;
}

h1 {
	font-size: 50px;
}

ul {
	font-size: 20px;
}